footer {
    background-color: black;
    height: 8rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

footer span {
    margin-left: 1rem;
}

footer a {
    font-weight: bold;
    text-decoration: none;
}

.githubLink {
    width: 35px;
    height: 35px;
}
