* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: var(--secondary-color);
  color: white;
}

:root {
  --primary-color: #F7931A;
  --secondary-color: #2C3A47;
  --accent-color-1: #1ABC9C;
  --accent-color-2: #F1C40F;
  --accent-color-3: #E74C3C;
}
